.footer-container{
    background-color: var(--black);
    color:var(--white);
    padding:20px;
}
.footer-item{
    display: flex;
    align-items: flex-start;
}
.tech-used-container{
    width:50%;
}
.tech-used-container h3{
    margin:5px 0px;
}
.tech-used-box{
    width:100%;
    color:var(--gray);
    font-size:1rem;
    font-weight:700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech-used-item{
    margin-right: 1rem;
}
.contact-me{
    width:50%;
}
.contact-me h3{
    margin:5px 0px;
}
.contact-me-icon{
    width:4%;
}
.contact-me-link a{
    display: flex;
    align-items:center;
    text-decoration: none;
    color:var(--white);
}
.contact-me-link a div{
    margin:0px 10px;
}
@media (min-width:50px) and (max-width:500px){
    .footer-item{
        flex-direction: column;
    }
    .tech-used-container {
        width: 100%;
      }
      .tech-used-box {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .contact-me {
        width: 100%;
      }
    
      .contact-me-icon {
        width: 7%;
      }
}
@media (min-width: 500px) and (max-width: 800px) {
    .footer-item {
      flex-direction: column;
    }
  
    .tech-used-container {
      width: 100%;
    }
  
    .tech-used-box {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
    }
  
    .contact-me {
      width: 100%;
    }
}
  
@media (min-width: 800px) and (max-width: 1000px) {
    .tech-used-container {
      width: 60%;
    }
    .contact-me {
      width: 40%;
    }
    .contact-me-icon {
      width: 7%;
    }
}